@font-face {
  font-family: 'silkamono';
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: local(silkamono),
    url('/fonts/silkamono-regular-webfont.woff2') format('woff2');
}
