// /!\ IF YOU CHANGE A VALUE MAKE SURE TO CHANGE IT IN PX AS WELL /!\

$font-size_base_ul: 16;
$font-size_low_ul: 10;
$font-size_high_ul: 32;

$viewport-thin_ul: 480;
$viewport-medium_ul: 768;
$viewport-regular_ul: 1024;
$viewport-large_ul: 1440;

$fluid-typo-vp-min-size_ul: 375;

$font-size_base: 16px;
$font-size_low: 10px;
$font-size_high: 32px;

$viewport-thin: 480px;
$viewport-medium: 768px;
$viewport-regular: 1024px;
$viewport-large: 1440px;

$fluid-typo-vp-min-size: 375px;

// COLORS
$color_main-green: #1ab81a;
$color_full-white: #ffffff;
$color_full-black: #000000;
$color_greener-white: #cdd9d1;
$color_dark-green: #202220;
