.navigationContainer {
  position: absolute;
  background-color: $color_dark-green;
}
.navigationButton {
  position: absolute;
  border: none;
  background: none;
  cursor: pointer;
  z-index: 2;
  padding-top: 1rem;
  padding-left: 1rem;
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

.hamburgerIcon1,
.hamburgerIcon2,
.hamburgerIcon3 {
  width: 40px;
  height: 5px;
  background: #cdd9d1;
  border-radius: 5px;
  transition: all 0.5s ease-in-out;
  position: relative;
  margin-bottom: 0.5rem;
}
.navigationMenu {
  padding-top: 4rem;
  background-color: #7fc37f;
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
}
.navigationMenu a {
  color: #ffe2e2;
  font-size: 48px;
}
